.deps/
.dirstamp
*.log
*.o
*.trs
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
m4/
libtool
ltmain.sh
missing
Makefile
Makefile.in
man/man8/*
src/.dirstamp
src/libcommon.a
src/tpm2_activatecredential
src/tpm2_hash
src/tpm2_nvlist
src/tpm2_nvread
src/tpm2_rsaencrypt
src/tpm2_nvrelease
src/tpm2_create
src/tpm2_getrandom
src/tpm2_nvwrite
src/tpm2_getpubak
src/tpm2_akparse
src/tpm2_rsadecrypt
src/tpm2_sign
src/tpm2_hmac
src/tpm2_nvdefine
src/tpm2_nvreadlock
src/tpm2_load
src/tpm2_readpublic
src/tpm2_unseal
src/tpm2_encryptdecrypt
src/tpm2_makecredential
src/tpm2_certify
src/tpm2_verifysignature
src/tpm2_createprimary
src/tpm2_quote
src/tpm2_listpcrs
src/tpm2_listpersistent
src/tpm2_evictcontrol
src/tpm2_getpubek
src/tpm2_takeownership
src/tpm2_loadexternal
src/tpm2_getmanufec
src/tpm2_rc_decode
test-driver
test/tpm2-rc-decode_unit
test/tpm2-rc-entry_unit

